---
---

@charset "utf-8";

// Font
$base-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;

// Color
$text-color: #f8f8f2;
$background-color: #2c2a28;
$secondary-background-color: #1c1c1eff;
$syntax-background-color: #2c2c2eff;
$primary-content-color: #FF453A;
$secondary-content-color: #ebebf54c;
$border-color: #54545899;

// Others
$base-line-height: 1.5;
$spacing-unit: 30px;
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting";
