language: ruby
rvm:
- 2.2

before_script:
 - npm install -g bower
 - bower install
 - chmod +x ./script/cibuild

install: bundle install --jobs=3 --retry=3 --without development

script:
 - ./script/cibuild
 - bundle exec danger

branches:
  only:
  - master

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

sudo: false
