<div class="apps-main text-center">
    <img src="../assets/8planets/8planets-image.png">
    <h1>8Planets</h1>
    <p><b>8Planets</b> is a simple viewer for planetary orbits in the Solar System.</p>
    <p>It's now available in public beta. With TestFlight is installed, open <a href="https://testflight.apple.com/join/0VgyZIlt">this link</a>.</p>
</div>

<div class="apps-features">
    <ul>
        <li>Speed up or slow down time to see how the planets rotate over time.</li>
        <li>Travel back or forward in time to view the Solar System on any given date.</li> 
        <li>Widgets allow you to display the real-time Solar System on your Home screen.</li> 
        <li>Share your favorite moment of the Solar System.</li> 
    </ul>
</div>