<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords"
        content="8Planets,Solar System Viewer,Solar System Simulator,Planetary Orbits,Widgets">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description"
        content="A simple viewer for planetary orbits in the Solar System.">
    <!-- Smart Banner -->
    <meta name="apple-itunes-app" content="app-id=1554639445">
    <title>8Planets</title>
    <link rel="canonical" href="{{  site.url }}{{ page.url }}/8planets/">
    {% include ext_css.html css=css %}
    <link rel="stylesheet" href="/css/main.css">
    {%- seo -%}
    <link rel="shortcut icon" href="/ico/8planets/favicon.ico">
    <link rel="apple-touch-icon" href="/ico/8planets/apple-touch-icon.png" />
</head>
