---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import PostInternalLinks from '../../components/PostInternalLinks.astro';
import { getAllPosts, getPostSlug } from '../../utils/posts';
import { formatPostDate } from '../../utils/dates';

export async function getStaticPaths({ paginate }) {
  const posts = await getAllPosts();
  const paginated = paginate(posts, { pageSize: 8 });
  return paginated.filter(({ params }) => params.page !== '1');
}

const { page } = Astro.props;
---
<BaseLayout title="Articles">
  <div class="home">
    <ul class="post-list">
      {page.data.map((post) => (
        <li>
          <span class="post-meta">{formatPostDate(post.data.date)}</span>
          <h2>
            <a class="post-link" href={`/articles/${getPostSlug(post)}.html`}>
              {post.data.title}
            </a>
          </h2>
        </li>
      ))}
    </ul>
  </div>

  <Pagination page={page} />

  <hr>

  <PostInternalLinks />
</BaseLayout>
