<div class="row contact">
    <div class="social-icons col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
        <ul class="inline center">
            <li><a href="{{ site.links.github }}" title="Follow me on Github"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.links.twitter }}" title="Follow me on Twitter"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.links.facebook }}" title="Follow me on Facebook"><i class="fa fa-2x fa-facebook-official" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.links.linkedin }}" title="Connect with me on LinkedIn"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.links.rss }}" title="Subscribe via RSS/atom"><i class="fa fa-2x fa-rss-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>
