<footer class="site-footer">
  <div class="wrapper">
    <p class="text-muted text-center">
      <small>
        &copy; {{ site.time | date: '%Y' }} <a href="/about">{{ site.author }}</a>.
        This site is <a href="{{ site.links.repo }}" target="_blank">open source</a>.
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.
      </small>
    </p>
  </div>
</footer>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
