<header class="nav-header">
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">⛺️</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">About</a>
                    <a class="nav-link" href="/apps/">My Apps</a>
                    <a class="nav-link" href="/articles/">Articles</a>
                    <a class="nav-link" href="/things_i_like/">Things I like</a>
                </div>
            </div>
        </nav>
    </div>
</header>
