/**
 * Nav header
 */
.nav-header {
  border-top: 5px solid $primary-content-color;
  // Positioning context for the mobile navigation icon
  position: relative;
  background: $background-color;
}

.navbar-brand {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-transform: uppercase;
  color: $text-color;

  &,
  &:visited,
  &:active {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
  }
}

.navbar {
  line-height: 56px;

  .nav-link {
    font-size: 14px;
    color: $secondary-content-color !important;
    line-height: $base-line-height;

    &:hover {
      color: $secondary-content-color !important;
      text-decoration: underline;
    }
  }

  .navbar-toggler {
    padding: 0.2rem;
    font-size: 1rem;
  }
}

/**
 * Site footer
 */
.site-footer {
  background: $background-color;
  a {
    color: $primary-content-color;
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $secondary-content-color;
}

.post-link {
  font-size: 24px;
  color: $text-color;

  &:hover {
    text-decoration: underline;
    color: $text-color;
  }
}

.post-internal-links {
  margin-left: 0;
  list-style: none;
}

.post-internal-link {
  margin-left: 10px;
  font-size: 16px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 26px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 28px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Pagination
 */
.pagination li {
  margin: 6px;

  > a {
    border-radius: 15px !important;
    padding: 5px 14px;
    border: 1px solid;
    font-size: 14px;
  }
}

/**
 *  Meta data line below post title
 */
.post-meta {
  display: block;
  margin-top: -0.3rem;
  margin-bottom: 1rem;
  color: $secondary-content-color;
  time {
    margin-right: 0.5rem;
  }
  .post-tags {
    display: inline-block;
    a {
      font-size: 0.8rem;
    }
  }
}

/**
 * Styles for _pages/tags.html
 */
.tag-cloud {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
  }
}

/**
 * Profile image
 */
.avatar {
  margin: 0 auto;
  display: block;
  border-radius: 6px !important;
}

/**
 * Achives
 */
#archive {
  .this {
    background-color: $secondary-background-color;
    border-radius: 5px;
    padding: 10px;
  }
  ul {
    list-style: none;
    li {
      margin-bottom: 10px;
      time {
        display: inline-block;
        font-family: "Monaco", "Courier", monospace;
        font-size: 12px;
        padding-right: 10px;
      }
    }
  }
}

/**
 * Horizontal Rule
 */
hr { 
  border-top: 1px solid $border-color;
}
