@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-color: #ffffff;
    --secondary-background-color: #e9eaf0;
    --text-color: #000000;
    --secondary-text-color: #3c3c4399;
    --link-background-color: #ccccff;
    --syntax-background-color: #f2f2f2;
    --border-color: #54545899;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #0d1116;
      --secondary-background-color: #2e303c;
      --text-color: #f8f8f2;
      --secondary-text-color: #ebebf599;
      --link-background-color: #4c36ad;
      --syntax-background-color: #2c2c2e;
    }
  }

  body {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl,
  figure {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  img {
    max-width: 100%;
    vertical-align: middle;
  }

  figure > img {
    display: block;
  }

  figcaption {
    font-size: 14px;
  }

  ul,
  ol {
    margin-left: 32px;
  }

  a {
    color: #5e5ce6ff;
  }

  a:hover {
    color: #5e5ce6ff;
    text-decoration: underline;
  }

  blockquote {
    color: #828282;
    border-left: 2px solid;
    padding-left: 16px;
    font-size: 14px;
    font-style: italic;
  }

  blockquote > :last-child {
    margin-bottom: 0;
  }

  pre,
  code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-size: 14px;
    color: #6c757d;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background-color: var(--syntax-background-color);
    line-height: 18px;
  }

  code {
    padding: 1px 5px;
  }

  pre {
    padding: 8px 12px;
    overflow-x: auto;
  }

  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  summary:focus {
    outline: none;
  }

  hr {
    border-top: 1px solid var(--border-color);
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@layer components {
  .marker-link a {
    color: var(--text-color);
    border-bottom: 0.2em solid var(--link-background-color);
    box-shadow: inset 0 -0.2em 0 var(--link-background-color);
    text-decoration: none;
  }

  .marker-link a:hover {
    color: var(--text-color);
    background-color: var(--link-background-color);
    text-decoration: none;
  }

  .no-marker-link a {
    color: inherit;
    border-bottom: none;
    box-shadow: none;
    text-decoration: none;
  }

  .no-marker-link a:hover {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }

  .highlight {
    background: var(--syntax-background-color);
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .highlighter-rouge .highlight {
    background: var(--syntax-background-color);
  }

  .highlight .c {
    color: #998;
    font-style: italic;
  }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .highlight .k {
    font-weight: bold;
  }
  .highlight .o {
    font-weight: bold;
  }
  .highlight .cm {
    color: #998;
    font-style: italic;
  }
  .highlight .cp {
    color: #999;
    font-weight: bold;
  }
  .highlight .c1 {
    color: #998;
    font-style: italic;
  }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
  }
  .highlight .gd {
    color: #000;
    background-color: #fdd;
  }
  .highlight .gd .x {
    color: #000;
    background-color: #faa;
  }
  .highlight .ge {
    font-style: italic;
  }
  .highlight .gr {
    color: #a00;
  }
  .highlight .gh {
    color: #999;
  }
  .highlight .gi {
    color: #000;
    background-color: #dfd;
  }
  .highlight .gi .x {
    color: #000;
    background-color: #afa;
  }
  .highlight .go {
    color: #888;
  }
  .highlight .gp {
    color: #555;
  }
  .highlight .gs {
    font-weight: bold;
  }
  .highlight .gu {
    color: #aaa;
  }
  .highlight .gt {
    color: #a00;
  }
  .highlight .kc {
    font-weight: bold;
  }
  .highlight .kd {
    font-weight: bold;
  }
  .highlight .kp {
    font-weight: bold;
  }
  .highlight .kr {
    font-weight: bold;
  }
  .highlight .kt {
    color: #458;
    font-weight: bold;
  }
  .highlight .m {
    color: #099;
  }
  .highlight .s {
    color: #d14;
  }
  .highlight .na {
    color: #008080;
  }
  .highlight .nb {
    color: #0086b3;
  }
  .highlight .nc {
    color: #458;
    font-weight: bold;
  }
  .highlight .no {
    color: #008080;
  }
  .highlight .ni {
    color: #800080;
  }
  .highlight .ne {
    color: #900;
    font-weight: bold;
  }
  .highlight .nf {
    color: #900;
    font-weight: bold;
  }
  .highlight .nn {
    color: #555;
  }
  .highlight .nt {
    color: #000080;
  }
  .highlight .nv {
    color: #008080;
  }
  .highlight .ow {
    font-weight: bold;
  }
  .highlight .w {
    color: #bbb;
  }
  .highlight .mf {
    color: #099;
  }
  .highlight .mh {
    color: #099;
  }
  .highlight .mi {
    color: #099;
  }
  .highlight .mo {
    color: #099;
  }
  .highlight .sb {
    color: #d14;
  }
  .highlight .sc {
    color: #d14;
  }
  .highlight .sd {
    color: #d14;
  }
  .highlight .s2 {
    color: #d14;
  }
  .highlight .se {
    color: #d14;
  }
  .highlight .sh {
    color: #d14;
  }
  .highlight .si {
    color: #d14;
  }
  .highlight .sx {
    color: #d14;
  }
  .highlight .sr {
    color: #009926;
  }
  .highlight .s1 {
    color: #d14;
  }
  .highlight .ss {
    color: #990073;
  }
  .highlight .bp {
    color: #999;
  }
  .highlight .vc {
    color: #008080;
  }
  .highlight .vg {
    color: #008080;
  }
  .highlight .vi {
    color: #008080;
  }
  .highlight .il {
    color: #099;
  }
}
