---
import PageLayout from '../layouts/PageLayout.astro';
import LinkIcon from '../components/LinkIcon.astro';
import thingsYaml from '../data/things_i_like.yml?raw';
import { loadYaml } from '../utils/data';

const things = loadYaml(thingsYaml);
---
<PageLayout title="Things I like">
  <p>
    Here are things I like and occasionally revisit. There may be worth reading or checking if you don't know.
    The idea comes from <a href="http://khanlou.com/love/">Things I Love by Khanlou</a>.
  </p>

  <hr>

  {things.map((item) => (
    <>
      <h3>{item.category}</h3>
      <ul class="m-0 list-none p-0">
        {item.links.map((link) => (
          <li>
            <a href={link.url}><LinkIcon /> {link.title}</a>
          </li>
        ))}
      </ul>
    </>
  ))}
</PageLayout>
