---
layout: default
title: Blog
pagination:
  enabled: true
  per_page: 8
  sort_field: 'date'
  sort_reverse: true
  permalink: '/:num.html'
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>

{% include pagination.html %}
