---
const year = new Date().getFullYear();
---
<footer class="marker-link bg-[var(--background-color)] py-4">
  <div class="mx-auto w-full max-w-[860px] px-4 laptop:px-8">
    <p class="text-center text text-[var(--secondary-text-color)]">
      <small>
        &copy; 2016-{year} <a href="/">Hiroki Nagasawa</a>
        <br>☃
      </small>
    </p>
  </div>
</footer>
