---
import type { TagInput } from '../utils/tags';
import { formatPostDate, toDate } from '../utils/dates';
import { normalizeTags, slugifyTag } from '../utils/tags';

const { date, tags } = Astro.props;
const tagList = normalizeTags(tags as TagInput);
const isoDate = toDate(date).toISOString();
---
<p class="mb-4 mt-[-0.3rem] block text text-[var(--secondary-text-color)]">
  <time class="mr-2" datetime={isoDate} itemprop="datePublished">{formatPostDate(date)}</time>
  <span class="inline-block">
    {tagList.map((tag) => (
      <a class="text-[0.8rem]" href={`/tags/#${slugifyTag(tag)}`}>#{tag}</a>
    ))}
  </span>
</p>
