---
import { slugifyTag } from '../utils/tags';

const { tagMap } = Astro.props;
const tags = Object.keys(tagMap);
---
<section class="posts-by-tags">
  {tags.map((tag) => (
    <div>
      <h4 id={slugifyTag(tag)}>#{tag}</h4>
      <ul style="list-style: none; margin-left: 0;">
        {tagMap[tag].map((post) => (
          <li><a href={post.url}>{post.title}</a></li>
        ))}
      </ul>
    </div>
  ))}
</section>
