---
import { slugifyTag } from '../utils/tags';

const { tags } = Astro.props;
---
<ul class="tag-cloud">
  {tags.map((tag) => (
    <li>
      <a href={`/tags/#${slugifyTag(tag)}`}>#{tag}</a>
    </li>
  ))}
</ul>
