---
import { slugifyTag } from '../utils/tags';

const { tags } = Astro.props;
---
<ul class="m-0 list-none p-0">
  {tags.map((tag) => (
    <li class="mr-2 inline-block">
      <a href={`/tags/#${slugifyTag(tag)}`}>#{tag}</a>
    </li>
  ))}
</ul>
