<div>
    <h1>Contact</h1>
    <p>Any feedback and suggestions are welcome. We will try to read every tweet and email. If it's a question, please check out the following <a href="#frequently-asked-questions">Frequently Asked Questions</a> before you contact us.</p>
    <li><a href="https://twitter.com/expensesapp">@expensesapp</a> on Twitter</li>
    <li><a href="mailto:feedback@pixyzehn.com">feedback@pixyzehn.com</a> for feedback, suggestions, and bug reports</li>

    <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
    <li><a href="#sharing-sheet-with-others">Sharing a sheet with others</a></li>
    <li><a href="#universal-purchase">Universal Purchase</a></li>

    <hr>

    <h3 id="sharing-sheet-with-others">Sharing a sheet with others</h3>
    <p>To share a sheet with others, people you added also need to unlock the full features because our Sharing uses iCloud sync. If the people still can't see anything you shared, please check the following on both sides (you and people you added):</p>
    <p>In iCloud settings,</p>
    <ol>
        <li>Have enough storage space in iCloud on your device.</li>
        <li>Expenses is turned on in Settings>Apple ID>iCloud.</li>
    </ol>
    <p>In Expenses app,</p>
    <ol>
        <li>iCloud Sync is turned on in Settings>Sync.</li>
        <li>In Settings>Sync, try force push all data to iCloud, and then try force fetch all data from iCloud.</li>
    </ol>

    <h3 id="universal-purchase">Universal Purchase</h3>
    <p>Our In-App purchase to unlock the full features is a universal purchase, meaning that you don't need to purchase it again in another platform as long as you use the same iCloud account. To restore a purchase you did in another platform, please check the following:</p>
    <p>In Expenses app,</p>
    <ol>
        <li>Go to Settings>Unlock the App.</li>
        <li>Tap Restore Purchase.</li>
        <li>Confirm that you see "Restore Purchase was successful" message.</li>
    </ol>
</div>