<div>
    <h1>Contact</h1>
    <p>Any feedback and suggestions are welcome. We will try to read every tweet and email. If it's a question, please check out the following <a href="#frequently-asked-questions">Frequently Asked Questions</a> before you contact us.</p>
    <li><a href="https://twitter.com/expensesapp">@expensesapp</a> on Twitter</li>
    <li><a href="mailto:feedback@pixyzehn.com">feedback@pixyzehn.com</a> for feedback, suggestions, and bug reports</li>

    <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
    <li><a href="#sharing-sheet-with-others">Sharing a sheet with ohters</a></li>
    <li><a href="#family-sharing-for-in-app-purchase">Family Sharing for In-App Purchase</a></li>

    <hr>

    <h3 id="sharing-sheet-with-others">Sharing a sheet with ohters</h3>
    <p>In order to share a sheet with others, people you added also need to unlock the full feature because our Sharing uses iCloud sync. If the people stil can't see anything you shared, please check the following on both sides (you and people you added).</p>
    <p>In iCloud settings,</p>
    <ol>
        <li>Have enough storage space in iCloud on your device.</li>
        <li>Expenses is turned on in Settings>Apple ID>iCloud.</li>
    </ol>
    <p>In Expenses app,</p>
    <ol>
        <li>iCloud Sync is turned on in Settings>Sync.</li>
        <li>In Settings>Sync, try force push all data to iCloud, and then try force fetch all data from iCloud.</li>
    </ol>

    <h3 id="family-sharing-for-in-app-purchase">Family Sharing for In-App Purchase</h3>
    <p>We have enabled Family Sharing for our In-App Purchase to unlock the full feature since <a href="https://developer.apple.com/news/?id=4zbvn7u9">Apple's update</a> on December 4th, 2020. To access in-app purchases from an app purchased by another family member, the app should be downloaded from the family member's purchased history.</p>
</div>