<div>
    <h1>Contact</h1>
    <p>Any feedback and suggestions are welcome. We will try to read every tweet and email. If it's a question, please check out the following <a href="#frequently-asked-questions">Frequently Asked Questions</a> before you contact us.</p>
    <li><a href="https://twitter.com/expensesapp">@expensesapp</a> on Twitter</li>
    <li><a href="mailto:feedback@pixyzehn.com">feedback@pixyzehn.com</a> for feedback, suggestions, and bug reports</li>

    <h2 id="frequently-asked-questions">Frequently Asked Questions</h2>
    <li><a href="#sharing-sheet-with-others">Sharing a sheet with others</a></li>
    <li><a href="#universal-purchase">Universal Purchase</a></li>
    <li><a href="#icloud-sync-is-not-working">iCloud Sync is not working between iOS and Mac</a></li>
    <li><a href="#disabled-icloud-sync-option">Disabled iCloud Sync option</a></li>
    <li><a href="#missing-print-function-on-macos-version">Missing Print function on macOS version</a></li>

    <hr>

    <h3 id="sharing-sheet-with-others">Sharing a sheet with others</h3>
    <p>To share a sheet with others, people you added also need to unlock the full features because our Sharing uses iCloud sync. If the people still can't see anything you shared, please check the following on both sides (you and people you added):</p>
    <p>On iOS,</p>
    <ol>
        <li>Have enough storage space in iCloud on your device.</li>
        <li>Go to Settings>Apple ID>iCloud and check the checkbox for Expenses app.</li>
    </ol>
    <p>On macOS,</p>
    <ol>
        <li>Have enough storage space in iCloud on your device.</li>
        <li>Go to System Preferences>Apple ID>iCloud Drive(Options...) and check the checkbox for Expenses.app in Documents.</li>
    </ol>
    <p>In Expenses app,</p>
    <ol>
        <li>iCloud Sync is turned on in Settings>Sync.</li>
        <li>In Settings>Sync, try force push all data to iCloud, and then try force fetch all data from iCloud.</li>
    </ol>

    <h3 id="universal-purchase">Universal Purchase</h3>
    <p>Our In-App purchase to unlock the full features is a universal purchase, meaning that you don't need to purchase it again in another platform as long as you use the same iCloud account. To restore a purchase you did in another platform, please check the following:</p>
    <p>In Expenses app,</p>
    <ol>
        <li>Go to Settings>Unlock the App.</li>
        <li>Tap Restore Purchase.</li>
        <li>Confirm that you see "Restore Purchase was successful" message.</li>
    </ol>

    <h3 id="icloud-sync-is-not-working">iCloud Sync is not working</h3>
    <p>First of all, please make sure that you use the same iCloud account both on iOS and macOS, and have enough iCloud storage on both platforms. If it still doesn't work, please do the following troubleshooting:</p>
    <p>In Expenses macOS,</p>
    <ol>
        <li>Go to Preferences>Sync.</li>
        <li>Click "Force push all data to iCloud".</li>
        <li>Click "Fetch all data from iCloud".</li>
    </ol>
    <p>In Expenses iOS,</p>
    <ol>
        <li>Go to Settings>Sync.</li>
        <li>Click "Force push all data to iCloud".</li>
        <li>Click "Fetch all data from iCloud".</li>
        <li>Check if the data is fetched.</li>
    </ol>

    <h3 id="disabled-icloud-sync-option">Disabled iCloud Sync option</h3>
    <p>Expenses app relies on iCloud to sync data. If the iCloud Sync option in Settings>Sync is disabled in the app, it means the app can't access iCloud on your device. To enable it, please check the following:</p>
    <p>On iOS,</p>
    <ol>
        <li>Go to Settings>Apple ID>iCloud.</li>
        <li>Check the checkbox for Expenses app.</li>
        <li>Relaunch the app to properly reflect the change.</li>
        <li>See the iCloud Sync is now enabled.</li>
    </ol>
    <p>On macOS,</p>
    <ol>
        <li>Go to System Preferences>Apple ID>iCloud Drive(Options...).</li>
        <li>Check the checkbox for Expenses.app in Documents.</li>
        <li>Relaunch the app to properly reflect the change.</li>
        <li>See the iCloud Sync is now enabled.</li>
    </ol>

    <h3 id="missing-print-function-on-macos-version">Missing Print function on macOS version</h3>
    <p>We hide Print function in Expenses for Mac on purpose. The reason is that we can't use the API called <a href="https://developer.apple.com/documentation/uikit/uimarkuptextprintformatter">UIMarkupTextPrintFormatter</a> until we drop macOS Catalina support. Until that time, you could use Print function on iOS/iPadOS or export it as CSV on macOS, and then print it via other apps, such as Numbers.</p>
</div>