<div class="expenses-main text-center">
    <img src="../assets/expenses/expenses-image.png">
    <h1>Expenses</h1>
    <p><b>Expenses</b> has been crafted to <b>keep track of your spending effortlessly</b>, with useful features in a
        simple, intuitive interface. And with iCloud, it’s easy to <b>keep all your expenses in sync </b>across your
        devices and <b>collaborate with others</b> using sharing.</p>
    <a href="https://itunes.apple.com/us/app/id1492055171" target="_blank">
        <img src="../assets/app-store-preorder-badge.svg">
    </a>
    <p>Coming soon!</p>
</div>

<div class="expenses-features text-center">
    <div class="row">
        <div class="col-sm">
            <h2>Quick input</h2>
            <p>Enter your expense quickly and easily with minimum effort.</p>
        </div>
        <div class="col-sm">
            <h2>Sharing</h2>
            <p>Invite people and collaborate with them to better organize your expenses.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>No registration</h2>
            <p>We care about your privacy seriously. Expenses requires no registration and no personal data.</p>
        </div>
        <div class="col-sm">
            <h2>All currencies</h2>
            <p>Expenses supports all currencies you may need especially when traveling.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Exporting</h2>
            <p>Export all expenses you enter in multiple ways. This means you can still make full use of the data as you
                want.</p>
        </div>
        <div class="col-sm">
            <h2>Statistics</h2>
            <p>The statistics show you an overview of your spending. From there, you'll also see expenses in each
                category.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Categories</h2>
            <p>We think categories as an essential part so you have full control of how you manage categories.</p>
        </div>
        <div class="col-sm">
            <h2>Accessibility</h2>
            <p>Expenses is designed to be accessible to everyone, including those with special needs by providing built-in
                accessibility features.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>All the small things</h2>
            <p>Dark Mode, Quick Actions, Split View, Multiple Windows on iPad, Context Menus, Mouse and Trackpad support on iPad, Keyboard Shortcuts for iPad, and more.</p>
        </div>
    </div>
</div>
