<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords"
        content="Expenses,Expenses Tracker,Spend,Spending,Spending Tracker,Budget,Finance,Money,Travel Spend,Bill">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description"
        content="Expenses has been crafted to keep track of your spending effortlessly, with useful features in a simple, intuitive interface. And with iCloud, it’s easy to keep all your expenses in sync across your devices and collaborate with others using sharing.">
    <!-- Smart Banner -->
    <meta name="apple-itunes-app" content="app-id=1492055171">
    <title>Expenses: Spending Tracker</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}/expenses/">
    {% include ext_css.html css=css %}
    <link rel="stylesheet" href="/css/main.css">
    {%- seo -%}
    <link rel="shortcut icon" href="/ico/expenses/favicon.ico">
    <link rel="apple-touch-icon" href="/ico/expenses/apple-touch-icon.png" />
</head>
