<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="public">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords"
        content="Expenses,Expenses Tracker,Spend,Spending,Spending Tracker,Budget,Finance,Money,Travel Spend,Bill">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="Expenses: Spending Tracker">
    <title>Expenses: Spending Tracker</title>
    <link rel="canonical" href="{{  site.url }}{{ page.url }}/expenses/">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    {%- seo -%}
    <link rel="shortcut icon" href="/ico/expenses/favicon.ico">
    <link rel="apple-touch-icon" href="/ico/expenses/apple-touch-icon.png" />
</head>