---
layout: default
title: Blog
---

<div class="home">
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>
</div>

{% include pagination.html %}

<div class="post-internal-links">
  <li>
    <a class="post-internal-link" href="/archives">Archives</a>
    <a class="post-internal-link" href="/tags">Tags</a>
  </li>
</div>