name: jekyll build

on:
  workflow_dispatch:
  push:

jobs:
  build_on_macOS:
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0.0'
        bundler-cache: true
    - name: jekyll build
      run: |
        bundle exec jekyll build
